:root {

    --colorone: #FFF5F9;
    --colortwo: #FA2A70;
    --colorthree: #FD2267;
    --colorfour: #931D42;

  }
  
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-color: var(--colorone);
    color: var(--colortwo);
    font-family: Helvetica, Arial, sans-serif;
    padding: 50px 100px 100px 50px;

}


/* header styles start */

header {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;

}

.headertext {

    order: 2;
    text-align: center;
    margin-top: 30px;
    font-style: italic;
    font-size: 1vw;
    font-weight: lighter;

}

.headerimg {

    order: 1;
    align-items: center;

}

.headerimg img {

    width: 200px;

}

/* header sgtyles end */

/* nav styles start */

nav {

    order: 3;
    margin: 30px;
    font-weight: bolder;
    font-size: 2vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--colorone);
    display: flex;
    flex: wrap;
    justify-content: center;
    width: 100%;
    border-radius: 25px;
   
}

nav ul  {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 15px 15px 20px;

}

nav ul li a {

    padding: 80px 60px;
    color: var(--colorthree);
    text-decoration: none;
    letter-spacing: 2px;

}

nav ul li a:hover {

    color: var(--colorfour);
    font-style: italic;

}

/* nav style ends */

/* content style begins */

.content {

    display: flex;
    padding: 15px auto 50px auto;
    margin: 20px;
    align-items: center;
    flex: wrap;

}

.content h2 {

    font-size: 3vw;
    padding-right: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    flex-basis: 15%;
    font-style: italic;
    text-align: right;

}

.incontent {

    font-size: 1vw;
    line-height: 1.5;
    padding: 20px 30px 30px 20px;
    background-color: white;
    border-left: 10px solid;
    font-weight: lighter;
    border-radius: 20px;
    flex-basis: 90%;
    display: flex;
    align-items: stretch;
    flex: wrap;
}


.mainproject {

    
    flex-grow: 1;
    align-self: flex-start;
    background-color: #931D42;
    padding: 10px 10px 5px 10px;
    border-radius: 25px;
    flex-grow: 4;


}

.mainproject img {

    max-width: 100%;
    height: 100%;
    flex-grow: 4;

}


.sideproject {

    
    align-self: flex-start;
    order: 2;
    flex-shrink: 4;
    background-color: #931D42;
    padding: 0px 10px 5px 10px;
    border-radius: 25px;

}
.sideproject img {

    max-width: 100%;
    height: auto;
    flex-shrink: 4;

}