:root {

    --colorone: #FFF5F9;
    --colortwo: #FA2A70;
    --colorthree: #FD2267;
    --colorfour: #931D42;

  }
  
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-color: var(--colorone);
    color: var(--colortwo);
    font-family: Helvetica, Arial, sans-serif;

}

/* header styles start */

header {
    
    display: flex;
    padding: 20px 35px;
    align-items: center;
    flex-direction: column;

}

.headertext {

    order: 2;
    text-align: center;
    margin-top: 30px;
    font-style: italic;
    font-size: 20px;

}

.headerimg {

    order: 1;
    align-items: center;

}

.headerimg img {

    width: 200px;

}

header nav {

    order: 3;
    margin: 30px 40px;
    font-weight: bolder;
    font-size: 40px;
   
}

header nav ul  {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 15px 15px 20px;

}

header nav ul li a {

    padding: 80px 60px;
    color: var(--colorthree);
    text-decoration: none;
    letter-spacing: 1px;

}

header nav ul li a:hover {

    color: var(--colorfour);
    font-style: italic;

}