:root {

    --colorone: #FFF5F9;
    --colortwo: #FA2A70;
    --colorthree: #FD2267;
    --colorfour: #CF1B53;

  }
  
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-color: var(--colorone);
    color: var(--colortwo);
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;

}


/* header styles start */

header {
    
    display: flex;
    align-items: center;
    flex-direction: column;

}

.headertext {

    text-align: center;
    margin-top: 30px;
    font-style: italic;
    font-size: 1vw;
    font-weight: lighter;

}

header h1 {

    text-align: center;
    font-size: 3vw;
    font-weight: lighter;
    margin: 15px;
    text-shadow:  3px 2px rgba(0, 0, 0, 0.3);
   
}

header a {

    text-decoration: none;
    color: var(--colortwo);

}

/* header sgtyles end */

/* nav styles start */

nav {

    font-weight: bolder;
    font-size: 2vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--colorone);
    justify-content: center;
    width: 100%;
    z-index: 9999;
   
}

nav ul  {

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px;
    justify-content: center;

}

nav ul li a {

    padding: 30px 30px;
    color: var(--colorthree);
    text-decoration: none;
    letter-spacing: 2px;

}

nav ul li a:hover {

    color: var(--colorfour);

}

/* nav style ends */

/* content style begins */

.content {

    display: flex;
    padding: 15px auto 50px auto;
    margin: 20px;
    align-items: center;
    flex: wrap;
    

}

.content h2 {

    font-size: 3vw;
    padding-right: 20px;
    margin: 0 auto 35px auto;
    flex:15%;
    font-style: italic;
    text-align: left;
    flex-grow: 1;
    flex-shrink: 1;
    text-shadow:  3px 2px rgba(0, 0, 0, 0.3);

}

.incontent {

    padding: 20px 30px 30px 20px;
    background-color: white;
    border-left: 10px solid var(--colorthree);
    border-radius: 20px;
    flex: 85%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

    
.incontent p {

    font-size: 1.3vw;
    line-height: 1.5;
    font-weight: lighter;

}

/* content styles ends*/

/* projects styles begin */

.projects {

    flex: 25%;
    height: 300px;
    background-color: var(--colorfour);
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid var(--colorthree);
    border-radius: 20px;
    display: flex;

}

.projects:hover {

    opacity: 0.8;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

}

.project1 {

    flex: 100%;
    height: 500px;
    background-image: url("../images/Screen\ Shot\ 2022-10-26\ at\ 7.18.25\ PM.png");

}

.project2 {

    background-image: url("../images/Screen\ Shot\ 2022-08-31\ at\ 7.55.24\ PM.png");

}

.project3 {
    background-image: url("../images/runbuddy.png");
}

.projecttitle {

    background-color: var(--colorthree);
    height: 15%;
    width: 20%;
    margin: 10px;
    text-align: left;
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    flex-shrink: 1 1 auto;

}

.projecttitle a {

    text-decoration: none;

}

.projecttitle h3 {

    font-size: 2.3vh;
    color: var(--colorone);
    padding: 3px 3px 3px 15px;
    font-weight: lighter;
    flex-shrink: 1;

}

.projecttitle p {

    color: #FFE6EE;
    line-height: .9;
    padding: 3px 3px 3px 15px;
    font-size: 1.8vh;
    font-style: italic;
    flex-shrink: 1;

}

.projecttitle2 {

    height: 25%;
    width: 40%;

}

.projecttitle3 {

    height: 25%;
    width: 35%;

}

/* projects styles end */

/* contact styles begin */

.contacts {

    background-color: var(--colorone);
    flex: 25%;
    text-align: center;
    border: 3px solid;
    margin: 20px;
    border-radius: 20px;
    padding: 15px 32px;

}


.contacts:hover {

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

}

.contacts p {

    text-shadow: none;
    font-size: 3.0vh;
    text-align: center;
    font-weight: bold;
}


.contacts a, a:hover, a:visited, a:active {

    color: inherit;
    text-decoration: none;
    
}

/* comtact styles end */

/* footer style begins */

footer {

    text-align: center;
    padding: 30px;
    font-weight: lighter;
    font-style: oblique;
    font-size: 1.5vh;
    word-spacing: 5px;
  
}

/* footer style ends */

/* media queries begin */

@media screen and (max-width: 1566px) {

    .content {

        flex-direction: column;
        align-items: stretch;

    }

    .incontent {

        flex-direction: column;
    }

    .projects {

        flex: 1 1 auto;
    }

    .projecttitle {

        width: 100%;
        height: 15%;

    }

    .projecttitle2, .projecttitle3 {

        height: 25%;
    }

}

@media screen and (max-width: 1200px) {

    p, .content p {

        font-size: 1.8vh;

    }

    nav, .content h2, header h1 {
    
        font-size: 3.0vh;
    
    }

}

@media screen and (max-width: 700px) {

    body {

        padding: 0;

    }

}